<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define API_SOURCE="D:\API-Build" ?>
	<?define WPF_SOURCE="D:\WPF-Build" ?>

	<Product Id="*"
			 Name="QuizApp Installer"
			 Language="1033"
			 Version="1.0.0.0"
			 Manufacturer="YourCompany"
			 UpgradeCode="{8F381BCB-5E6E-4934-B6A0-B260E08676EE}">

		<Package InstallerVersion="500"
				 Compressed="yes"
				 InstallScope="perMachine" />

		<!-- Fix the install directory to D:\QuizApp -->
		<Property Id="INSTALLDIR" Value="D:\QuizApp" />

		<Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />

		<!-- Folder Structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="INSTALLDIR" Name="QuizApp">
				<Directory Id="APIFolder" Name="API" />
				<Directory Id="WPFFolder" Name="WPF" />
			</Directory>
		</Directory>

		<!-- Features include all harvested components -->
		<Feature Id="MainFeature" Title="QuizApp" Level="1">
			<ComponentGroupRef Id="API_GROUP"/>
			<ComponentGroupRef Id="WPF_GROUP"/>
		</Feature>

	</Product>
</Wix>
